In [ ]:
import math
math.sqrt(9)

In [ ]:
from math import sqrt,pi
print(pi)
print(sqrt(25))

In [ ]:
import numpy as np
np.array([1,2,3])

In [ ]:
from math import *
print(sqrt(36))

In [ ]:
from package.maths import addition
addition(2,3)

In [ ]:
from package import maths
maths.addition(2,3)

In [ ]:
from package import maths
print(maths.addition(8,9))
print(maths.subt(9,8))

In [ ]:
### standard libary overview
"""" libaries are vast collection of modules and packages that bundled with python"""

In [ ]:
import array
arr=array.array('i',[1,2,3,4])
print(arr)

In [ ]:
### random 
import random
print(random.randint(1,10))
print(random.choice(["apple","banana","cherry"]))

In [ ]:
### file and directory access
import os
print(os.getcwd())

In [ ]:
os.mkdir("test_dir")

In [ ]:
### high level operations in files and collection of files
import shutil
shutil.copyfile("test_dir\text.txt","test_dir\destination.txt")

In [52]:
## data seralization
import json
data={"name":"a","age":20}
json_str=json.dumps(data)
print(json_str)
passed_data=json.loads(json_str)
print(passed_data)
print(type(passed_data))

{"name": "a", "age": 20}
{'name': 'a', 'age': 20}
<class 'dict'>

In [54]:
### csv files
import csv
with open('example.csv',mode="w",newline="") as file:
    writer=csv.writer(file)
    writer.writerow(["name","age"])
    writer.writerow(["aadarsh",32])
with open('example.csv',mode='r') as file:
    reader=csv.reader(file)
    for row in reader:
        print(row)

['name', 'age']
['aadarsh', '32']

In [56]:
## datetime
from datetime import datetime,timedelta
now=datetime.now()
print(now)
yesterday=now-timedelta(days=1)
print(yesterday)

2026-02-19 15:01:23.669437
2026-02-18 15:01:23.669437

In [57]:
### time
import time
print(time.time())
time.sleep(2)
print(time.time())

1771493541.4129124
1771493543.4154994

In [59]:
### regular expression 
import re
pattern=r'\d+'
text='there are 123 apples 456'
match=re.search(pattern,text)
print(match.group())

123