In [1]:
lst=["aadarsh","banni","sai"]
print(type(lst))
print(lst)

<class 'list'>
['aadarsh', 'banni', 'sai']

In [2]:
#modifying the list elements 
lst[1]="ajay"
print(lst)

['aadarsh', 'ajay', 'sai']

In [3]:
#list methods
lst.append("shiva")#add an element
lst.insert(1,"tabrez")#adding at specific position
lst.insert(2,"tabrez")
print(lst)

['aadarsh', 'tabrez', 'tabrez', 'ajay', 'sai', 'shiva']

In [4]:
lst.remove("tabrez")#removes the first occures of the item
print(lst)

['aadarsh', 'tabrez', 'ajay', 'sai', 'shiva']

In [5]:
#remove and pop
poped=lst.pop()#poped the last item
print(poped)

shiva

In [6]:
lst.index("ajay")
lst.count("tabrez")

1

In [7]:
lst.sort()
print(lst)

['aadarsh', 'ajay', 'sai', 'tabrez']

In [8]:
lst.reverse()
lst.clear()#clear all the elements

In [9]:
#slicing
l=[1,2,3,4,5,6,7,8,9,10]
print(l[2:5])
print(l[:5])
print(l[::2])#step of two
print(l[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [10]:
#iterating over list
for x in l:
    print(x)

1
2
3
4
5
6
7
8
9
10

In [11]:
#iterating using the index
for index,x in enumerate(l):
    print(index,x)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [12]:
#list comprehension
p=[]
for x in range(10):
    p.append(x**2)
print(p)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [13]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#### list cmprehension
basic syntax : [expression for item in iterable]

with conditional logic :[expression for item in iterable if condition]

nested list comprehesion:[expression for item in iterable1 for item in iterable2]

In [14]:
even_num=[x for x in range(10)if x%2==0]
print(even_num)

[0, 2, 4, 6, 8]

In [15]:
q=[1,2,3,4]
w=["a","b","c","d"]
pair=[[i,j] for i in q for j in w]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [16]:
#list comprehension with function calls
word=['aadarsh',"shiva","sai"]
lengths=[len(w) for w in word]
print(lengths)

[7, 5, 3]

In [17]:
print(lst)

[]