In [2]:

### series is 1d ,dataframe is 2d mutable heterogenous data

In [3]:
import pandas as pd

In [4]:
## series is single column
data=[1,2,3,4,5]
series=pd.Series(data)
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
### series dictionary
series=pd.Series({'a':1,"b":2,"c":3})
series

a    1
b    2
c    3
dtype: int64

In [6]:
data=[10,20,30,40]
index=['a','b','c','d']
series=pd.Series(data,index)
series

a    10
b    20
c    30
d    40
dtype: int64

In [7]:
### Data Frame
### create a data Frame by dictionary
data={
    'name':["ajay","shiva","aadarsh","banni"],
    'age':[20,30,40,50],
    'city':['v','d','f','g']
}
Dataframe=pd.DataFrame(data,index=[1,2,3,4])
print(Dataframe)
print(type(Dataframe))

      name  age city
1     ajay   20    v
2    shiva   30    d
3  aadarsh   40    f
4    banni   50    g
<class 'pandas.core.frame.DataFrame'>

In [8]:
import numpy as np
np.array(Dataframe)### converting the df to numpy

array([['ajay', 20, 'v'],
       ['shiva', 30, 'd'],
       ['aadarsh', 40, 'f'],
       ['banni', 50, 'g']], dtype=object)

In [9]:
### create a data  frame from a list of dictionaries
data=[
    {'name':'ajay','age':30 },
    {'name':'shiva','age':40}
]
df=pd.DataFrame(data)
print(df)

    name  age
0   ajay   30
1  shiva   40

In [14]:
### reading a excel file
df=pd.read_csv('vacant_posts_2026-02-03.csv')

print(df.head(5))

   Sl. No.                              Post Name   Post ID Designation  \
0        1                  Alampally  B.O-BPM-UR  30704638         BPM
1        2                      Ashta B.O-ABPM-UR  30144106        ABPM
2        3               Chintalchanda B.O-BPM-UR  30144542         BPM
3        4               Chintalpalli B.O-BPM-OBC  30705073         BPM
4        5  Coal Chemical Complex S.O-Daksevak-UR  30248253    Daksevak

   Level                Office Name           Division
0    NaN             Alampally  B.O  Adilabad Division
1    NaN                  Ashta B.O  Adilabad Division
2    NaN          Chintalchanda B.O  Adilabad Division
3    NaN           Chintalpalli B.O  Adilabad Division
4    NaN  Coal Chemical Complex S.O  Adilabad Division

In [15]:
df.tail()

,Sl. No.,Post Name,Post ID,Designation,Level,Office Name,Division
33,34,Vengwapet B.O-BPM-UR,30144189,BPM,NaN,Vengwapet B.O,Adilabad Division
34,35,Waddadi B.O-BPM-UR,30705058,BPM,NaN,Waddadi B.O,Adilabad Division
35,36,Waghapur B.O-BPM-OBC,30144343,BPM,NaN,Waghapur B.O,Adilabad Division
36,37,Waipet-BPM-UR,30732311,BPM,NaN,Waipet,Adilabad Division
37,38,Wajar-BPM-UR,30732314,BPM,NaN,Wajar,Adilabad Division

In [16]:
### accesing the  data from dataframe
Dataframe

      name  age city
1     ajay   20    v
2    shiva   30    d
3  aadarsh   40    f
4    banni   50    g

In [22]:
type(Dataframe['name'])

pandas.core.series.Series

In [21]:
df.loc[0] ## 1st row is retrieve

Sl. No.                            1
Post Name      Alampally  B.O-BPM-UR
Post ID                     30704638
Designation                      BPM
Level                            NaN
Office Name           Alampally  B.O
Division           Adilabad Division
Name: 0, dtype: object

In [ ]:
Dataframe.iloc[0]### 1st column retrieve

name    ajay
age       20
city       v
Name: 1, dtype: object

In [25]:
Dataframe.iloc[0,0]

'ajay'

In [27]:
Dataframe.iloc[0,2]

'v'

In [29]:
### accesing specific elements
Dataframe['city']

1    v
2    d
3    f
4    g
Name: city, dtype: object

In [34]:
Dataframe.at[3,'age']

np.int64(40)

In [35]:
Dataframe.at[2,'name']

'shiva'

In [36]:
### accesing a specific element using iat
Dataframe.iat[2,2]

'f'

In [37]:
### data manipulation with dataframe
Dataframe

      name  age city
1     ajay   20    v
2    shiva   30    d
3  aadarsh   40    f
4    banni   50    g

In [52]:
Dataframe['salary']=[40,50,60,70]
Dataframe

      name  age city  slaray  salary
1     ajay   20    v      40      40
2    shiva   30    d      50      50
3  aadarsh   40    f      60      60
4    banni   50    g      70      70

In [53]:
# Remove a column
Dataframe.columns

Index(['name', 'age', 'city', 'slaray', 'salary'], dtype='object')

In [54]:
Dataframe.drop('slaray',axis=1,inplace=True)
Dataframe

      name  age city  salary
1     ajay   20    v      40
2    shiva   30    d      50
3  aadarsh   40    f      60
4    banni   50    g      70

In [56]:
### Add age to the column
Dataframe['age']=Dataframe['age']+1
Dataframe

      name  age city  salary
1     ajay   22    v      40
2    shiva   32    d      50
3  aadarsh   42    f      60
4    banni   52    g      70

In [58]:
Dataframe.drop(1,inplace=True)

In [59]:
df.describe()

         Sl. No.       Post ID  Level
count  38.000000  3.800000e+01    0.0
mean   19.500000  3.039559e+07    NaN
std    11.113055  2.820934e+05    NaN
min     1.000000  3.014409e+07    NaN
25%    10.250000  3.014441e+07    NaN
50%    19.500000  3.020412e+07    NaN
75%    28.750000  3.070507e+07    NaN
max    38.000000  3.073231e+07    NaN

In [60]:
df.dtypes

Sl. No.          int64
Post Name       object
Post ID          int64
Designation     object
Level          float64
Office Name     object
Division        object
dtype: object

In [66]:
### handling misssing values
df.isnull().any()
### returns true where the null is present

Sl. No.        False
Post Name      False
Post ID        False
Designation    False
Level           True
Office Name    False
Division       False
dtype: bool

In [67]:
df.isnull().sum()

Sl. No.         0
Post Name       0
Post ID         0
Designation     0
Level          38
Office Name     0
Division        0
dtype: int64

In [70]:
df_fill=df.fillna(0)
df_fill

,Sl. No.,Post Name,Post ID,Designation,Level,Office Name,Division
0,1,Alampally B.O-BPM-UR,30704638,BPM,0.0,Alampally B.O,Adilabad Division
1,2,Ashta B.O-ABPM-UR,30144106,ABPM,0.0,Ashta B.O,Adilabad Division
2,3,Chintalchanda B.O-BPM-UR,30144542,BPM,0.0,Chintalchanda B.O,Adilabad Division
3,4,Chintalpalli B.O-BPM-OBC,30705073,BPM,0.0,Chintalpalli B.O,Adilabad Division
4,5,Coal Chemical Complex S.O-Daksevak-UR,30248253,Daksevak,0.0,Coal Chemical Complex S.O,Adilabad Division
5,6,Dantanpalli B.O-ABPM-UR,30144221,ABPM,0.0,Dantanpalli B.O,Adilabad Division
6,7,Dharmaraopet B.O-ABPM-UR,30144711,ABPM,0.0,Dharmaraopet B.O,Adilabad Division
7,8,Dowdepelli B.O-BPM-UR,30144450,BPM,0.0,Dowdepelli B.O,Adilabad Division
8,9,Dugunapalli B.O-ABPM-UR,30248169,ABPM,0.0,Dugunapalli B.O,Adilabad Division
9,10,Gangapur-ABPM-UR,30732249,ABPM,0.0,Gangapur,Adilabad Division
10,11,Gollakota B.O-BPM-UR,30148704,BPM,0.0,Gollakota B.O,Adilabad Division
11,12,Gummanuyenglapur-ABPM-UR,30732257,ABPM,0.0,Gummanuyenglapur,Adilabad Division
12,13,Jangalpet-BPM-OBC,30732259,BPM,0.0,Jangalpet,Adilabad Division
13,14,Jannaram S.O-Daksevak-UR,30144526,Daksevak,0.0,Jannaram S.O,Adilabad Division
14,15,Kanchanpalli B.O-BPM-OBC,30144436,BPM,0.0,Kanchanpalli B.O,Adilabad Division
15,16,Kattersala B.O-BPM-UR,30705074,BPM,0.0,Kattersala B.O,Adilabad Division
16,17,Kerameri B.O-BPM-OBC,30144251,BPM,0.0,Kerameri B.O,Adilabad Division
17,18,Khandala B.O-ABPM-UR,30704647,ABPM,0.0,Khandala B.O,Adilabad Division
18,19,Kistapur B.O-BPM-UR,30160078,BPM,0.0,Kistapur B.O,Adilabad Division
19,20,Kolama B.O-BPM-OBC,30705055,BPM,0.0,Kolama B.O,Adilabad Division
20,21,Marepalle-BPM-UR,30732282,BPM,0.0,Marepalle,Adilabad Division
21,22,Nagampet B.O-BPM-UR,30704643,BPM,0.0,Nagampet B.O,Adilabad Division
22,23,Naspur B.O-ABPM-OBC,30248254,ABPM,0.0,Naspur B.O,Adilabad Division
23,24,Panchagudi B.O-ABPM-OBC,30144649,ABPM,0.0,Panchagudi B.O,Adilabad Division
24,25,Papanpet B.O-BPM-OBC,30144305,BPM,0.0,Papanpet B.O,Adilabad Division
25,26,Pardi B.O-ABPM-UR,30144397,ABPM,0.0,Pardi B.O,Adilabad Division
26,27,Rechini S.O-Daksevak-OBC,30144089,Daksevak,0.0,Rechini S.O,Adilabad Division
27,28,Sankaram-BPM-UR,30732290,BPM,0.0,Sankaram,Adilabad Division
28,29,Sawli B.O-ABPM-UR,30144177,ABPM,0.0,Sawli B.O,Adilabad Division
29,30,Sirchelma B.O-ABPM-OBC,30144730,ABPM,0.0,Sirchelma B.O,Adilabad Division
30,31,Suddha Ghat-BPM-UR,30732296,BPM,0.0,Suddha Ghat,Adilabad Division
31,32,Ullipittadorli B.O-BPM-UR,30144242,BPM,0.0,Ullipittadorli B.O,Adilabad Division
32,33,Velgi-BPM-OBC,30732307,BPM,0.0,Velgi,Adilabad Division
33,34,Vengwapet B.O-BPM-UR,30144189,BPM,0.0,Vengwapet B.O,Adilabad Division
34,35,Waddadi B.O-BPM-UR,30705058,BPM,0.0,Waddadi B.O,Adilabad Division
35,36,Waghapur B.O-BPM-OBC,30144343,BPM,0.0,Waghapur B.O,Adilabad Division
36,37,Waipet-BPM-UR,30732311,BPM,0.0,Waipet,Adilabad Division
37,38,Wajar-BPM-UR,30732314,BPM,0.0,Wajar,Adilabad Division

In [73]:
## filing the missing values with means of the column
df['level']=df['Level'].fillna(Dataframe['salary'].mean())
df['level']

0     60.0
1     60.0
2     60.0
3     60.0
4     60.0
5     60.0
6     60.0
7     60.0
8     60.0
9     60.0
10    60.0
11    60.0
12    60.0
13    60.0
14    60.0
15    60.0
16    60.0
17    60.0
18    60.0
19    60.0
20    60.0
21    60.0
22    60.0
23    60.0
24    60.0
25    60.0
26    60.0
27    60.0
28    60.0
29    60.0
30    60.0
31    60.0
32    60.0
33    60.0
34    60.0
35    60.0
36    60.0
37    60.0
Name: level, dtype: float64

In [74]:
df.dtypes

Sl. No.          int64
Post Name       object
Post ID          int64
Designation     object
Level          float64
Office Name     object
Division        object
level          float64
dtype: object

In [81]:
### renameing function
df.rename(columns={'level':'salary'},inplace=True)
df.head()
df.rename(columns={'Designation':'job'})

,Sl. No.,Post Name,Post ID,job,Level,Office Name,Division,salary
0,1,Alampally B.O-BPM-UR,30704638,BPM,NaN,Alampally B.O,Adilabad Division,60.0
1,2,Ashta B.O-ABPM-UR,30144106,ABPM,NaN,Ashta B.O,Adilabad Division,60.0
2,3,Chintalchanda B.O-BPM-UR,30144542,BPM,NaN,Chintalchanda B.O,Adilabad Division,60.0
3,4,Chintalpalli B.O-BPM-OBC,30705073,BPM,NaN,Chintalpalli B.O,Adilabad Division,60.0
4,5,Coal Chemical Complex S.O-Daksevak-UR,30248253,Daksevak,NaN,Coal Chemical Complex S.O,Adilabad Division,60.0
5,6,Dantanpalli B.O-ABPM-UR,30144221,ABPM,NaN,Dantanpalli B.O,Adilabad Division,60.0
6,7,Dharmaraopet B.O-ABPM-UR,30144711,ABPM,NaN,Dharmaraopet B.O,Adilabad Division,60.0
7,8,Dowdepelli B.O-BPM-UR,30144450,BPM,NaN,Dowdepelli B.O,Adilabad Division,60.0
8,9,Dugunapalli B.O-ABPM-UR,30248169,ABPM,NaN,Dugunapalli B.O,Adilabad Division,60.0
9,10,Gangapur-ABPM-UR,30732249,ABPM,NaN,Gangapur,Adilabad Division,60.0
10,11,Gollakota B.O-BPM-UR,30148704,BPM,NaN,Gollakota B.O,Adilabad Division,60.0
11,12,Gummanuyenglapur-ABPM-UR,30732257,ABPM,NaN,Gummanuyenglapur,Adilabad Division,60.0
12,13,Jangalpet-BPM-OBC,30732259,BPM,NaN,Jangalpet,Adilabad Division,60.0
13,14,Jannaram S.O-Daksevak-UR,30144526,Daksevak,NaN,Jannaram S.O,Adilabad Division,60.0
14,15,Kanchanpalli B.O-BPM-OBC,30144436,BPM,NaN,Kanchanpalli B.O,Adilabad Division,60.0
15,16,Kattersala B.O-BPM-UR,30705074,BPM,NaN,Kattersala B.O,Adilabad Division,60.0
16,17,Kerameri B.O-BPM-OBC,30144251,BPM,NaN,Kerameri B.O,Adilabad Division,60.0
17,18,Khandala B.O-ABPM-UR,30704647,ABPM,NaN,Khandala B.O,Adilabad Division,60.0
18,19,Kistapur B.O-BPM-UR,30160078,BPM,NaN,Kistapur B.O,Adilabad Division,60.0
19,20,Kolama B.O-BPM-OBC,30705055,BPM,NaN,Kolama B.O,Adilabad Division,60.0
20,21,Marepalle-BPM-UR,30732282,BPM,NaN,Marepalle,Adilabad Division,60.0
21,22,Nagampet B.O-BPM-UR,30704643,BPM,NaN,Nagampet B.O,Adilabad Division,60.0
22,23,Naspur B.O-ABPM-OBC,30248254,ABPM,NaN,Naspur B.O,Adilabad Division,60.0
23,24,Panchagudi B.O-ABPM-OBC,30144649,ABPM,NaN,Panchagudi B.O,Adilabad Division,60.0
24,25,Papanpet B.O-BPM-OBC,30144305,BPM,NaN,Papanpet B.O,Adilabad Division,60.0
25,26,Pardi B.O-ABPM-UR,30144397,ABPM,NaN,Pardi B.O,Adilabad Division,60.0
26,27,Rechini S.O-Daksevak-OBC,30144089,Daksevak,NaN,Rechini S.O,Adilabad Division,60.0
27,28,Sankaram-BPM-UR,30732290,BPM,NaN,Sankaram,Adilabad Division,60.0
28,29,Sawli B.O-ABPM-UR,30144177,ABPM,NaN,Sawli B.O,Adilabad Division,60.0
29,30,Sirchelma B.O-ABPM-OBC,30144730,ABPM,NaN,Sirchelma B.O,Adilabad Division,60.0
30,31,Suddha Ghat-BPM-UR,30732296,BPM,NaN,Suddha Ghat,Adilabad Division,60.0
31,32,Ullipittadorli B.O-BPM-UR,30144242,BPM,NaN,Ullipittadorli B.O,Adilabad Division,60.0
32,33,Velgi-BPM-OBC,30732307,BPM,NaN,Velgi,Adilabad Division,60.0
33,34,Vengwapet B.O-BPM-UR,30144189,BPM,NaN,Vengwapet B.O,Adilabad Division,60.0
34,35,Waddadi B.O-BPM-UR,30705058,BPM,NaN,Waddadi B.O,Adilabad Division,60.0
35,36,Waghapur B.O-BPM-OBC,30144343,BPM,NaN,Waghapur B.O,Adilabad Division,60.0
36,37,Waipet-BPM-UR,30732311,BPM,NaN,Waipet,Adilabad Division,60.0
37,38,Wajar-BPM-UR,30732314,BPM,NaN,Wajar,Adilabad Division,60.0

In [83]:
## chnage data type
df['salary']=df['salary'].astype(int)
df.head()

,Sl. No.,Post Name,Post ID,Designation,Level,Office Name,Division,salary
0,1,Alampally B.O-BPM-UR,30704638,BPM,NaN,Alampally B.O,Adilabad Division,60
1,2,Ashta B.O-ABPM-UR,30144106,ABPM,NaN,Ashta B.O,Adilabad Division,60
2,3,Chintalchanda B.O-BPM-UR,30144542,BPM,NaN,Chintalchanda B.O,Adilabad Division,60
3,4,Chintalpalli B.O-BPM-OBC,30705073,BPM,NaN,Chintalpalli B.O,Adilabad Division,60
4,5,Coal Chemical Complex S.O-Daksevak-UR,30248253,Daksevak,NaN,Coal Chemical Complex S.O,Adilabad Division,60

In [87]:
df['level_new'] = df['salary'].fillna(int(df['salary'].mean()))
df.head()

,Sl. No.,Post Name,Post ID,Designation,Level,Office Name,Division,salary,level_new
0,1,Alampally B.O-BPM-UR,30704638,BPM,NaN,Alampally B.O,Adilabad Division,60,60
1,2,Ashta B.O-ABPM-UR,30144106,ABPM,NaN,Ashta B.O,Adilabad Division,60,60
2,3,Chintalchanda B.O-BPM-UR,30144542,BPM,NaN,Chintalchanda B.O,Adilabad Division,60,60
3,4,Chintalpalli B.O-BPM-OBC,30705073,BPM,NaN,Chintalpalli B.O,Adilabad Division,60,60
4,5,Coal Chemical Complex S.O-Daksevak-UR,30248253,Daksevak,NaN,Coal Chemical Complex S.O,Adilabad Division,60,60