In [7]:
import sqlite3
connection=sqlite3.connect('example.db')

In [ ]:
cursor=connection.cursor()

In [10]:
## create table

cursor.execute('''
create table if not exists employee(
   id integer primary key,
   name text not null,
   age integer,
   department text
)
''')

### commit the changes 
connection.commit()

In [13]:
cursor.execute("SELECT * FROM employee")
print(cursor.fetchall())

[(113, 'chiru', 20, 'aids'), (120, 'mohith', 20, 'aids'), (121, 'aadarsh', 20, 'aids')]

In [12]:
### inserting 
cursor.execute('''
insert into employee(id,name,age,department)
values(121,'aadarsh',20,'aids')

''')

cursor.execute('''
insert into employee(id,name,age,department)
values(120,'mohith',20,'aids')

''')

cursor.execute('''
insert into employee(id,name,age,department)
values(113,'chiru',20,'aids')

''')
connection.commit()

IntegrityError: UNIQUE constraint failed: employee.id

In [14]:
## update the data in the table
cursor.execute('''
update employee
set age=24
where name='mohith'
''')
connection.commit()

In [19]:
cursor.execute('SELECT * FROM employee')
print(cursor.fetchall())

[(113, 'chiru', 20, 'aids'), (120, 'mohith', 24, 'aids'), (121, 'aadarsh', 20, 'aids')]

In [21]:
cursor.execute('''
delete from employee
where name='aadarsh'
''')
connection.commit()

In [22]:
### working with the strucured data

connection=sqlite3.connect('sql_data..db')
cursor=connection.cursor()

In [25]:
cursor.execute('''
create table if not exists sales(
id integer primary key,
   name text not null,
   age integer,
   department text
)

''')
connection.commit()

In [27]:
sales_data={
    (121,'a',20,'aids'),
       (122,'f',20,'aids'),
          (123,'e',20,'aids'),
             (124,'d',20,'aids')
}

In [30]:
cursor.executemany('''
insert into sales(id,name,age,department)
values(?,?,?,?)
''',sales_data)
connection.commit()

In [31]:
cursor.execute('select * from sales')
print(cursor.fetchall())

[(121, 'a', 20, 'aids'), (122, 'f', 20, 'aids'), (123, 'e', 20, 'aids'), (124, 'd', 20, 'aids')]

In [32]:
connection.close()