In [1]:
set1=set(x for x in range(11))
print(set1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [3]:
set1.add(11)
set1.remove(1)
print(set1)

{0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [4]:
s1=set(x for x in range(5))
s2=set(x for x in range(10) if x%2==0)
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))
print(s1.symmetric_difference(s2))

{0, 1, 2, 3, 4, 6, 8}
{0, 2, 4}
{1, 3}
{1, 3, 6, 8}

In [5]:
s3=set(x**2 for x in range(11))
print(s3)

{0, 1, 64, 4, 36, 100, 9, 16, 49, 81, 25}

In [6]:
print(set(x for x in s3 if x%2==0))

{0, 64, 100, 4, 36, 16}

In [ ]:
s4=set()
print(s1.issubset(s4))
print(s1.superset(s4))

False

AttributeError: 'set' object has no attribute 'superset'