In [5]:
tup=(1,2,3,4,5,7,8,9,10)
print(tup)

(1, 2, 3, 4, 5, 7, 8, 9, 10)

In [6]:
print(tup[0],tup[len(tup)//2],tup[-1])

1 5 10

In [8]:
print(tup[0:3],tup[-3:],tup[2:5])

(1, 2, 3) (8, 9, 10) (3, 4, 5)

In [11]:
mat=((1,2,3),(4,5,6),(7,8,9))
print(mat)
print(mat[1][2])

((1, 2, 3), (4, 5, 6), (7, 8, 9))
6

In [12]:
t1=(1,2,3)
t2=(4,5,6)
p=t1+t2
print(p)

(1, 2, 3, 4, 5, 6)

In [14]:
t3=(2,4,5,5,6,6,7)
print(t3.count(6))
print(t3.index(6))

2
4

In [15]:
packed=1,2,3,4,5
a,b,c,d,e=packed
print(a,b,c,d,e)

1 2 3 4 5

In [16]:
lst=[1,2,3,4,5,6,7]
t4=tuple(lst[:5])
print(t4)

(1, 2, 3, 4, 5)

In [18]:
t5=((1,2,3),(4,5,6),(7,8,9))
print(t5)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [22]:
t6=(1,2,3,4,5)
lst=list(t6)
lst.append(6)
t7=tuple(lst)
print(t7)

(1, 2, 3, 4, 5, 6)

In [23]:
t8=("a","a","d")
p=""
for x in t8:
    p=p+x
print(p)

aad

In [24]:
t9=(
    {"name":"aadarsh","values":40}
)

In [25]:
# Step 1: Create a tuple with duplicate elements
tup = (1, 2, 3, 2, 4, 1, 5)

# Step 2: Convert tuple to set (removes duplicates automatically)
unique_set = set(tup)

# Step 3: Print the resulting set
print(unique_set)

{1, 2, 3, 4, 5}

In [27]:
# Functions to compute min, max, and sum of a tuple
def get_min(tup):
    return min(tup)

def get_max(tup):
    return max(tup)

def get_sum(tup):
    return sum(tup)

# Sample tuple
sample_tup = (10, 4, 7, 2, 15)

# Print results
print("Tuple:", sample_tup)
print("Minimum:", get_min(sample_tup))
print("Maximum:", get_max(sample_tup))
print("Sum:", get_sum(sample_tup))

Tuple: (10, 4, 7, 2, 15)
Minimum: 2
Maximum: 15
Sum: 38