In [1]:
##creating tuple
empty_tuple=()
print(type(empty_tuple))

<class 'tuple'>

In [2]:
lst=list()
tpl=tuple()

In [13]:
tup=tuple([1,2,3,4,5])
print(tup)
print(list((1,2,3,4,5)))
t=tuple((1,"hello",3.14))

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]

In [ ]:
#accesing the elements in tuple
tup[2]#as same as the list accsing using slicing

3

In [ ]:
##opertaions 
print(tup+t)#concatenation done

(1, 2, 3, 4, 5, 1, 'hello', 3.14)

In [ ]:
t*3#entire tuple elements repeated 3 times  for number tuple also

(1, 'hello', 3.14, 1, 'hello', 3.14, 1, 'hello', 3.14)

In [18]:
##immutable nature of tuple
lst=[1,2,3]
lst[1]="aadarsh"
print(lst)

[1, 'aadarsh', 3]

In [ ]:
tup[2]="aadarsh"#it is immutble

TypeError: 'tuple' object does not support item assignment

In [21]:
##tuple methods 
print(tup.count(1))#count the number of times it repeted
print(tup.index(3))

1
2

In [ ]:
#packing and unpacking
packed_tuple=1,"aadarsh",3.14#by deafult it is packed as tuple when you mentioned as commas
print(packed_tuple)

(1, 'aadarsh', 3.14)

In [ ]:
a,b,c=packed_tuple#it is unpacking
print(a)
print(b)
print(c)

1
aadarsh
3.14

In [24]:
#unpacking with *
num=(1,2,3,4,5,6,7)
first,*middle,last=num
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6]
7

In [27]:
##nested tuple 
##nested list
lst1=[[1,2,3],[39],("hello")]
print(lst1[2])

hello

In [35]:
tup1=((1,2,3),(39,),("hello"))#(39) is not utple where (39,)is tuple 
print(tup1[0])
print(tup1[2])

(1, 2, 3)
hello

In [34]:
#iterating the tuple
for sub in tup1:
    for item in sub:
        print(item,end="")
    print()

123
39
hello