In [2]:
##in dictionary key is unique and immutable

In [3]:
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [4]:
student={"name":"aadarsh","age":20,"grade":20}
print(student)

{'name': 'aadarsh', 'age': 20, 'grade': 20}

In [5]:
student={"name":"aadarsh","age":20,"name":20}
student

{'name': 20, 'age': 20}

In [10]:
##accesing dictionary elements
student={"name":"aadarsh","age":20,"grade":"A"}
print(student["grade"])
print(student["name"])
#accesing using get() method
print(student.get("age"))
print(student.get("aadarsh"))
print(student.get("aadarsh","Not avaiabile"))

A
aadarsh
20
None
Not avaiabile

In [ ]:
##modifying dict elelments
#dict is mutable but key is unique
student["age"]=100#updating values 
print(student)
student["corse"]="ml" #add new key and value
print(student)
del student["grade"]#delete key and value pair
print(student)

{'name': 'aadarsh', 'age': 100, 'grade': 'A', 'corse': 'ml'}
{'name': 'aadarsh', 'age': 100, 'grade': 'A', 'corse': 'ml'}
{'name': 'aadarsh', 'age': 100, 'corse': 'ml'}

In [17]:
#dict methods 
keys=student.keys()#gives the all keys
print(keys)

values=student.values()#all values
print(values)
items=student.items()#it returns key value pairs in list or tuple 
print(items)

dict_keys(['name', 'age', 'corse'])
dict_values(['aadarsh', 100, 'ml'])
dict_items([('name', 'aadarsh'), ('age', 100), ('corse', 'ml')])

In [19]:
#shallow copy
student_copy=student
print(student)
print(student_copy)

{'name': 'aadarsh', 'age': 100, 'corse': 'ml'}
{'name': 'aadarsh', 'age': 100, 'corse': 'ml'}

In [20]:
student["name"]="shiva"
print(student)
print(student_copy)

{'name': 'shiva', 'age': 100, 'corse': 'ml'}
{'name': 'shiva', 'age': 100, 'corse': 'ml'}

In [23]:
student_copy1=student.copy()##shallow copy
print(student_copy1)
print(student)
student["name"]="aadarsh"
print(student)
print(student_copy1)

{'name': 'shiva', 'age': 100, 'corse': 'ml'}
{'name': 'shiva', 'age': 100, 'corse': 'ml'}
{'name': 'aadarsh', 'age': 100, 'corse': 'ml'}
{'name': 'shiva', 'age': 100, 'corse': 'ml'}

In [27]:
##iterating over dicitionary 
##try can use loops to iterate over dict or items

#iterating over keys 
for key in student.keys():
    print(key)
    ##iterate over values
    for value in student.values():
        print(value)

name
aadarsh
100
ml
age
aadarsh
100
ml
corse
aadarsh
100
ml

In [28]:
for key,value in student.items():
    print(f"{key}:{value}")

name:aadarsh
age:100
corse:ml

In [30]:
##nested dictionary
students={
    "student1":{"name":"shiva","age":19},
    "student2":{"name":"peter","age":20}

}
print(students)

{'student1': {'name': 'shiva', 'age': 19}, 'student2': {'name': 'peter', 'age': 20}}

In [31]:
##acces the nested dictionary
print(students["student1"]["name"])

shiva

In [33]:
#iterating over nested dictionaries
for  student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'shiva', 'age': 19}
name:shiva
age:19
student2:{'name': 'peter', 'age': 20}
name:peter
age:20

In [34]:
##dict comprehension
squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [35]:
## conditional dict comprehension
even={x:x**2 for x in range(10) if x%2==0}
print(even)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [36]:
## practical examples
numbers=[1,2,3,4,3,4,2,3,5,6,6]
fre={}
for num in numbers:
    if num in fre:
        fre[num]+=1
    else:
        fre[num]=1
print(fre)

{1: 1, 2: 2, 3: 3, 4: 2, 5: 1, 6: 2}

In [38]:
# merge two dictionaries
dict1={"a":1,"b":2}
dict2={"b":4,"c":5}
merge_dict={**dict1,**dict2}
print(merge_dict)

{'a': 1, 'b': 4, 'c': 5}